<table class="table table-borderless datatable">
    <thead>
      <tr>
        <th scope="col">Aprroved Date</th>
        <th scope="col">Customer</th>
        <th scope="col">Service</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">Status</th>
        <th scope="col">Access Codes</th>
      </tr>
    </thead>
    <tbody>
        {% for data in bookingPayments %}
      <tr>
        <input type="text" value="{{data.Id}}" id="approvedPaymentId" hidden>
        <!-- <th scope="row"><a href="#"> {{data.dateCreated|date:"Md,Y"}}</a></th>     -->
        <th scope="row"><a href="#"> {{data.approvedDate|timesince}}</a></th>
        <td>{{data.booking.bookerFirstName}}</td>
        <td><a href="#" class="text-primary">{{data.booking.serviceRendered.title}}</a></td>
        <td>N {{data.totalExpectedAmount}}</td>
        <td><span class="badge bg-success">{{data.paymentStatus}}</span></td>
        <td><span class="">{{data.booking.accessCode}}</span></td>
      </tr>
      {% endfor %}
     
    </tbody>
  </table>