{% load humanize %}
<table class="table table-borderless datatable">
    <thead>
      <tr>
        <th scope="col">Customer</th>
        <th scope="col">Time</th>
        <th scope="col">Service</th>
        <th scope="col">Amount Paid</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
        {% for data in bookingPayments %}
      <tr>
        <input type="text" value="{{data.Id}}" id="pendingPaymentId" hidden>
        <th scope="row"><a href="#"> {{data.dateCreated|timesince}}</a></th>
        <td>{{data.booking.bookerFirstName}}</td>
        <td><a href="#" class="text-primary">{{data.booking.serviceRendered.title}}</a></td>
        <td>N {{data.totalExpectedAmount|intcomma}}</td>
        <td><span class="badge bg-warning">{{data.paymentStatus}}</span></td>
        <td><button class="btn btn-success btn-sm" onclick="onApprove(event,'{{data.Id}}')">Confirm</button></td>
        <!-- <td><button class="btn btn-success btn-sm" onclick="$('#cover-spin').show(0)">Confirm</button></td> -->
        <!-- <td><a href="#myModal" class="trigger-btn" data-toggle="modal">Confirm</a></td> -->
      </tr>
      {% endfor %}
     
    </tbody>
  </table>